<div class="row m-2">
    Zaznaczone pliki:
    <span class="badge badge-pill badge-primary" id="selectedAmount">0</span>
</div>
<div class="row">
    <table class="table">
        <tr>
            <td>
                <button class="btn btn-primary" onclick="createDirectory()">Stwórz nowy folder</button>
            </td>
            <td>
                <button class="btn btn-danger ml-1" onclick="removeFiles()">Usuń zaznaczone pliki.</button>
            </td>
            <td>
                <button class="btn btn-info ml-1" onclick="moveFiles()">Przenieś tutaj zaznaczone pliki.</button>
            </td>
        </tr>
    </table>
</div>