<!DOCTYPE html>
<html lang="pl">
<head>
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="/bundle-min.css"/>
</head>
<body>
<partial name="Navbar"/>

@RenderBody()
</body>
<script src="/bundle-min.js"></script>
@RenderSection("Scripts", false)
</html>